<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}|{{.Site.Title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{ partial "header.html" . }}
    <main class="content-con">
        <div class="aside-ls">
            {{ partial "aside.html" . }}
        </div>
        <div class="main-cen">
            {{block "content" .}}
            {{end}}
        </div>
        <div class="aside-rs">
            {{ partial "section-links.html" . }}
        </div>
    </main>
    {{ partial "page-foot.html" . }}
    {{ partial "footer.html" . }}
    <script src="/js/script.js"></script>
    <h1>santhosh baiyaaa</h1>
</body>
</html>