<aside>
    <ul>
        <div class="aside-option cn-p"><a href="/"  class="cn-p tem-st" style="margin: 0 10px;">Template</a></div>
       <div class="aside-option bg-wh cn-p clr-p"><a href="/" class="f-wh"  style="margin: 0 10px;">In this section</a></div>
       <div class="aside-option bg-wh cn-p"><a href="/template/introduction/" class="f-wh" style="margin: 0 10px;">Indroduction</a></div>
        <div class="aside-option bg-wh cn-p"><a href="/template/template_type/" class="f-wh" style="margin: 0 10px;">Template type</a></div>
      <div class="aside-option bg-wh cn-p"><a href="/template/lookup_order/" class="f-wh" style="margin: 0 10px;">Lookup Order</a></div>
    <div class="aside-option bg-wh cn-p"><a href="/template/base_template/"  class="f-wh" style="margin: 0 10px;">Base template</a> </div>  
    </ul>
</aside>